body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $color-bg;
}
h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: $police-title;
    font-size: 3em;
    margin: 24px;
    span {
        color: red;
    }
}

h2 {
    margin: 24px 0 8px;
}


li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

// label {
//     user-select: none;
// }

