.dices {
    display: flex;
    margin: 8px;
    border: 1px solid black;
}

.dice {
    height: 64px;
    width: 65px;
    margin: 8px;
    padding: 8px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
}

.dice-orange {
    background-color: $color-orange;
    color: $color-carte;
    cursor: pointer;
}

.dice-jaune {
    background-color: $color-jaune;
    color: $color-dark;
    cursor: pointer;
}

.dice-violet {
    background-color: $color-violet;
    color: $color-carte;
    cursor: pointer;
}

.dice-sum {
    background-color: $color-dark;
    color: $color-carte;
    cursor: not-allowed;
}

.btn {
    display: flex;
}

.btn-submit, .btn-reset {
    height: 48px;
    width: 80px;
    margin: 16px;
    text-align: center;
    line-height: 48px;
    border-radius: 8px;
    box-shadow: $shadow;
    cursor: pointer;
}

.btn-submit{
    background-color: $color-bada;
    color: $color-dark;
}

.btn-reset {
    background-color: $color-bg;
    color: $color-carte;
}


.list-values-dices {
    display: flex;
    justify-content: center;
    min-height: 80px;
    width: 100%;
}

.mini-dice {
    cursor: pointer;
}