.list-players-game {
    display: flex;
    height: 48px;
    width: 100%;

    .player{
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 100px;
        margin: 8px; 
        padding: 4px 16px;
        border-radius: 999px;
        background-color: $color-carte;
        box-shadow: $shadow;

        &.player-me {
            background-color: $color-bada;
            svg {
                height: 24px;
                width: 24px;
                fill: $color-dark;
            }
        }
    }
}

.line {
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: 60px;
    margin: 8px;
}

.line {
    .case-pleine {
        padding: 4px;
    }
}

.case-cocher {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.case-rond {
    height: 100%;
    width: 100%;
    padding: 4px;
    border-radius: 50%;
    background-color: $color-carte;
    cursor: pointer;
}

.case-losange {
    height: 100%;
    width: 100%;
    clip-path: polygon(50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    background-color: $color-carte;
    cursor: pointer;
}

.line-orange {
    .case-pleine {
        background-color: $color-orange;
    }
}

.line-yellow {
    .case-pleine {
        background-color: $color-jaune;
    }
}

.line-violet {
    .case-pleine {
        background-color: $color-violet;
    }
}

.hystorique, .last-result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 48px;
    width: 100%;
    padding: 8px;
    margin: 8px;
}

.list-hystorique, .mini-dice {
    height: 24px;
    width: 24px;
    margin: 2px;
    background-color: $color-dark;
    border-radius: 4px;
    color: $color-carte;
    text-align: center;
    line-height: 24px;
}

.last-dice {
    height: 24px;
    width: 24px;
    margin: 2px;
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
}

.last-dice-orange{
    background-color: $color-orange;
}
.last-dice-jaune {
    background-color: $color-jaune;
}
.last-dice-violet {
    background-color: $color-violet;
}